.top-nav {
	background: #0f0f0f;
	position: fixed;
	width: 100%;
	z-index: 9999;
	@include box-shadow(rgba(black, .4) 0px 15px 30px);
}

.nav-wrapper {
	padding-top: .5rem;
	padding-bottom: .5rem;
	@include set-width;
	@include group;
	@media (max-width: 750px) {
		text-align: center; 
		margin-left: 0;
		margin-right: 0;
	}
}

.top-nav a {
	color: white;
	font-family: "proxima-nova",sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	@include transition-property(color);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in);
	@include antialias;
	@media (max-width: 750px) {
		font-size: 1.6em;
	}
	@include bp(small) {
		font-size: 1.6em;
	}
	&:hover, &:target {
		color: $color-main;
	}
	&:active {
		color: darken(white, 15);
	}
}

.top-nav .pwc-link {
	float: left;
	@media (max-width: 750px) {
		float: none;
	}
}

.top-nav ul {
	margin: 0;
	float: right;
	padding: 0;
	@media (max-width: 750px) {
		display: none;
		float: none;
	}
	li {
		display: inline;
		padding-left: 1em;
		@media (max-width: 750px) {
			display: block;
			padding-left: 0;
			padding-top: .2em;
			padding-bottom: .2em;
		}
	}
}

.menu-toggle {
	color: white;
	display: none;
	cursor: pointer;
	text-align: center;
	font-size: 1.6em;
	padding-left: .4rem .8rem;
	margin: 0;
	@media (max-width: 750px) {
		display: block;
	}
	@include bp(small) {
		font-size: 1.9em;
	}
	@include antialias;
	img {
		width: .8em;
		margin-right: .2em;
		top: -.1em;
		position: relative;
	}
}

.wonderlust-button {
	background: $color-main;
	color: white;
	display: inline-block;
	margin-top: .5em;
	margin-bottom: 1.5em;
	position: relative;
	font-size: 1.4em;
	padding: .3em 1em;
	text-transform: uppercase;
	@include font-display;
	@include antialias;
	@include transition-property(background);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in);
	&:hover, &:target {
		background: darken($color-main, 10);
	}
	&:active {
		color: darken(white, 15);
	}
}
